/* html { 
background-color: rgb(212, 8, 8);
  } */

#title {
  text-align: center;
padding-bottom: 50px;
}

#burger-logo {
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 7px;
}

#addburger {
  width: 80%;
  margin: auto;
}

#buttoncolor {
  background:rgb(212, 8, 8);
}

#red {
  color: white;
  background: rgb(212, 8, 8);
}

#border {
  border-color: rgb(212, 8, 8);
}